body {
  font-family: Arial, sans-serif;
  background-color: #ececec;
}

h1 {
  color: #878787;
  font-size: 24px;
  height: 27.7778px;
  font-weight: 100;
  line-height: 28px;
  text-align: left;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  color: #9aa0a6;
  display: block;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}
.weatherApp-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weatherApp {
  padding: 20px;
  border: 1px solid #daddda;
  border-radius: 5px;
}

.overview {
  margin-bottom: 20px;
}

.weatherTemprature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weatherTemprature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

a:link {
  text-decoration: none;
}
.weatherTemprature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weatherTemprature .active {
  color: black;
  cursor: default;
}

.weatherTemprature .active:hover {
  text-decoration: none;
}

.col-2:hover {
  background-color: #142d4c;
  color: #ececec;
  border-radius: 10px;
}

.weather-forecast-day {
  font-size: 16px;
}

.weather-forecast-mintemp {
  opacity: 0.5;
}
.weather-forecast-temp {
  font-size: 13px;
}
